.create-spot-container {
  padding: 4%;
}

.create-spot-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.create-spot-form {
  max-width: 600px;
  width: 100%;
}

.new-spot-title {
  text-align: center;
  margin-bottom: 2%;
}

.img-preview-container {
  padding: 20px 0;
}
